<configuration>
    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>/usr/local/taimsoft-backend/logs/TaimBackendServer.log</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; daily rollover &ndash;&gt;-->
            <!--<fileNamePattern>/usr/local/taimsoft-backend/logs/TaimBackendServer.%d{yyyy-MM-dd}.log</fileNamePattern>-->

            <!--&lt;!&ndash; keep 30 days' worth of history capped at 3GB total size &ndash;&gt;-->
            <!--<maxHistory>360</maxHistory>-->
            <!--<totalSizeCap>3GB</totalSizeCap>-->

        <!--</rollingPolicy>-->

        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- we use dozer default settings and don't want to see the corresponding message each startup... -->
    <logger name="org.dozer.config.GlobalSettings" level="error" />
    <logger name="org.dozer" level="warn" />
    <logger name="org.apache.commons.beanutils.converters" level="warn" />

    <root level="INFO">
        <!--<appender-ref ref="FILE" />-->
        <appender-ref ref="STDOUT" />
    </root>

</configuration>